<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Board">
	<insert id="insert">
		INSERT INTO board VALUES (null, #{eSeq}, #{category}, #{bID}, #{bTitle}, #{bContents}, #{bGrade}, now())
	</insert>
	
	<update id="updateByBSeq">
		UPDATE board SET bTitle=#{bTitle}, bContents=#{bContents}, bGrade=#{bGrade} WHERE bSeq = #{bSeq}
	</update>
	
	<select id="selectById" resultType="com.artirection.dto.BoardDTO">
		SELECT * FROM board WHERE bID = #{id}
	</select>
	
	<select id="selectBySeq" resultType="com.artirection.dto.BoardDTO">
		SELECT * FROM board WHERE eSeq = #{seq}
	</select>
	
	<select id="selectBybSeq" resultType="com.artirection.dto.BoardDTO">
		SELECT * FROM board WHERE bSeq = #{bSeq}
	</select>
	
	<select id="getCategoryById" resultType="com.artirection.dto.CategoryCountDTO">
		SELECT category, COUNT(*) AS categoryCount
		FROM board
		WHERE bID = #{id}
		GROUP BY category;
	</select>
</mapper>