<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Board">
	<insert id="insert">
		INSERT INTO board VALUES (null, #{eSeq}, #{category}, #{bID}, #{bTitle}, #{bContents}, #{bGrade}, now())
	</insert>
	
	<select id="selectById" resultType="com.artirection.dto.BoardDTO">
		SELECT * FROM board WHERE bID = #{id}
	</select>
	
	<select id="selectBySeq" resultType="com.artirection.dto.BoardDTO">
		SELECT * FROM board WHERE eSeq = #{seq}
	</select>
</mapper>