<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="member">

	<!-- 회원가입 -->
	<insert id="signup">
		insert into members values(#{mID}, #{pw}, #{name}, #{email} ,#{phone}, default)
	</insert>

	<!-- 회원가입시 아이디 중복 확인 -->
	<select id="idDup" resultType="Integer">
		select count(*) from members where mID=#{mID}
	</select>
	
	<!-- 비밀번호 변경 -->
	<update id="updatePW">
		update members set pw = #{pw} where mID = #{id}
	</update>

</mapper>
