<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="member">

	<!-- 회원가입 -->
	<insert id="signup">
		insert into members values(#{mID}, #{pw}, #{name}, #{email} ,#{phone}, default)
	</insert>

	<!-- 회원가입시 아이디 중복 확인 -->
	<select id="idDup" resultType="Integer">
		select count(*) from members where mID=#{mID}
	</select>
	
	<!-- 비밀번호 변경 -->
	<update id="updatePW">
		update members set pw = #{pw} where mID = #{mID}
	</update>
	
	<!-- 로그인 -->
	<select id="login" resultType="Boolean">
		select count(*) from members where mID=#{id} and pw=#{pw}
	</select>
	
	<!-- 로그안 이이디로 내정보 확인 -->
	<select id="selectById" resultType="com.artirection.dto.MemberDTO">
		SELECT * FROM members WHERE mID = #{id};
	</select>

	<!-- 내정보 수정 -->
	<update id="updateById">
		UPDATE members SET name=#{name}, email=#{email}, phone=#{phone} WHERE mID = #{mID}
	</update>
</mapper>
