@charset "UTF-8";

.container {
    max-width: 1040px;
    min-width: 300px;
    margin: auto;
}

.wrap1 {
    width: 100%;
    margin: 60px auto 0px;
}

.wrap2 {
    padding-top: 45%;
    position: relative;
    width: 100%;
}

.content {
    height: 100%;
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
}


/*지도 내부 인포윈도우*/
.customOverlayContent{
	width:auto;
	border: 1px solid #7d7d7d60;
	border-radius:4px;
	font-size: 14px;
	text-align:center;
	background-color: #ffffff;
}
.customOverlayThumbnail{
	width:120px;
	height:auto;
	margin-bottom: 5px;
}


/* 전시회 추천 */

#recommendTitle {
    margin-top: 150px;
    margin-bottom: 30px;
    font-size: 35px;
}

.recommendBox {
	width: 100%;
}

.recommendItem {
	text-align: center;
	height: 350px;
	margin: 0 0 100px 0;
}

.itemImgBox {
	height: 290px;
	padding: 20px auto;
	text-align: center;
}

.itemImg {
	max-height: 290px;
	transition: transform 0.3s ease-in-out;
}

.itemImg:hover {
	cursor: pointer;
	transform: scale(1.05);
}

.itemTitle {
	margin: 10px 0;
	font-size: 18px;
}