.container {
	max-width: 1040px;
	min-width: 300px;
	width: 100%;
	margin: auto;
}

.contents {
	width: 85%;
	margin-left: 7.5%;
	margin-right: 7.5%;
}

#title {
	margin-top: 150px;
	font-size: 35px;
}

#map {
	height: 600px;

	margin-top: 30px;
	margin-bottom: 50px;
}
.content__navbar{
	margin-bottom: 50px;
}
.navbar-nav {
	width: 100%;
}

.nav__inner {
	width: 25%;
	height: 50px;

	margin-left: 0px;

	text-align: center;
	font-size: 18px;
}

.nav__inner select{
	width: 100%;
	height: 100%;
}


#small-navbar>.nav__inner{
	width: 100%;
	margin-bottom: 5px;
}

#search {
	margin-right: 0px;
	width: 100%; height: 100%;
	border: none;
	background-color: #778C86;
}

/* 전시회 이미지 */
.exhibition__img{
    width: 150px; height: 180px;
    margin-right: 10px;
}

.search-div {
    display: flex;
	padding: 20px;

	margin-bottom: 20px;
}

.exhibition__inner{
	padding: 10px;
    width: 80%;
}

.exhibition__title {
	width: 100%;
	font-size: 20px;
}

.exhibition__contents {
	width: 100%;

	margin-top: 15px;
	margin-bottom: 5px;

	font-size: 15px;



	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;

}

.exhibition__location {
	position: relative;
	font-size: 15px;
}
/* 장소 */
.exhibition__area,.exhibition__place{
    margin-top: 5px;
    margin-bottom: 5px;
}

/* 아이콘 */
.exhibition__icon{
    display: flex;
    position: relative;
}
.icon1 {
    position: absolute;
	right: 0px;
}

.icon2 {

    position: absolute;
	right: 30px;
}

.nav-item>select {
	width: 100%;
	height: 100%;
	text-align: center;
}

i {
	cursor: pointer;
}

/*지도 내부 인포윈도우*/
/*.markContent{*/
/*	width:100px;*/
/*	border-radius:4px;*/
/*	text-algin:center;*/
/*}*/
.markThumbnail{
	width:100px; height:150px;
}

/*위로가기버튼*/
.upButton{
	
	background-color: #274A40;
	border-radius: 50%;
	width: 50px; height: 50px;
	position: fixed;
	bottom: 100px; right: 50px;
	text-align: center;
	padding-top: 12px;
}
.upButton i{
	text-decoration: none;
	color: white;
}

