.container {
	max-width: 1040px;
	min-width: 300px;
	margin: auto;
}

.contents {
	width: 85%;
	margin-left: 7.5%;
	margin-right: 7.5%;
}

#title {
	margin-top: 150px;
	font-size: 35px;
}

#map {
	height: 600px;

	margin-top: 30px;
	margin-bottom: 50px;
}

.navbar-nav {
	width: 100%;
}

.nav-item {
	width: 25%;
	height: 50px;

	margin-left: 0px;
	margin-right: 1%;

	text-align: center;
	font-size: 18px;
}

#small-navbar .nav-item {
	width: 100%;
	margin-bottom: 5px;
}

#search-btn {
	margin-right: 0px;

	background-color: #778C86;
}

/* 전시회 이미지 */
.exhibition__img{
    width: 150px; height: 180px;
    margin-right: 10px;
}

.search-div {
    display: flex;
	padding: 20px;

	margin-bottom: 20px;
}

.exhibition__inner{
	padding: 10px;
    width: 80%;
}

.exhibition__title {
	width: 100%;
	font-size: 20px;
}

.exhibition__contents {
	width: 100%;

	margin-top: 15px;
	margin-bottom: 5px;

	font-size: 15px;



	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;

}

.exhibition__location {
	position: relative;
	font-size: 15px;
}
/* 장소 */
.exhibition__area,.exhibition__place{
    margin-top: 5px;
    margin-bottom: 5px;
}

/* 아이콘 */
.exhibition__icon{
    display: flex;
    position: relative;
}
.icon1 {
    position: absolute;
	right: 0px;
}

.icon2 {

    position: absolute;
	right: 30px;
}

.nav-item>select {
	width: 100%;
	height: 100%;
	text-align: center;
	color: blue;
}

i {
	cursor: pointer;
}