.container{
    max-width: 1400px !important;
    min-width: 300px;
    /* 화면 좌우로 배치하는 코드 */
    display: flex;
	flex-direction: row; /* 기본값이지만 명시적으로 지정할 수 있습니다. */
	justify-content: space-between; /* 요소들을 좌우로 최대한 분산 배치합니다. */
	/**/
	padding:40px 0px 40px 20px !important; 
}

.ImageBox{
    height: 100%;
    border: 1px solid black;
}

.detailBox {
	padding-left: 50px;
}

.title {
	font-size: 30px;
	margin-bottom: 20px;
}

.infoBox div {
	font-size: 16px;
}

.detailInfoBox {
    display: flex;
    height: 100px;
    font-size: 15px;
    font-weight: bold;
    align-items: center;
}

.detailBox, .infoBox {
	flex: 1; /* 동일한 공간을 차지하도록 설정합니다. */
}