
@font-face {
    font-family: 'JeonjuCraftGoR';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2310@1.0/JeonjuCraftGoR.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

*{
    box-sizing: border-box;
    font-family: 'JeonjuCraftGoR';
    
}
.container{
    max-width: 1400px !important;
    min-width: 300px;
    margin: auto;
}

.myInfo{
    font-weight: bold;
}

.myInfoBox{
    margin-bottom: 10px;
}

.infoBox{
    width: 100%;
    border: 1px solid black;
}


.idBox,.nameBox,.phoneBox,.emailBox{
    font-size: 15px;
    font-weight: bold;
    display: flex;
    margin: 30px;
}

.updateBtnBox{
    margin-bottom: 30px;
}

.updateBtn{
    color: #274A40;
    font-size: 15px;
    width: 100px;
    height: 27px;
    border: none;
    background-color: white;
}



.contentBox{
    width: 100%;
    height: 200px;
    display: flex;
    margin-bottom: 10px;
    border: 1px solid black;
}

.myrecord{
    font-weight:bold;
}

.myrecordBox{
    margin-top: 150px;
    margin-bottom: 10px;
}

.contentBox .imgBox{
    width: 15%;
    display: flex; align-items: center; justify-content: center;
}

.contentBox .descBox{
    /* height: 100%; */
    width: 900px;
}

.titleBox,.placeBox{
    height: 33%;
    width: 100%;
}

.place{
    margin-top: 10px;
}

.titleBox{
    display: flex;
    align-items: center;
}

